<p class="title is-2" style="padding: 1%;">Artifacts</p>

<!-- Modal Button -->
<div style="margin: 1%;">
  <button class="button is-primary" id="add_btn">Add</button>
</div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content has-background-white py-5 px-5">
    <h3 class="title mr-3">Add new Artifact</h3>
    <!-- Form -->
    <form [formGroup]="addArtifact" (ngSubmit)="SaveData()">

      <div class="field">
        <label>Artifact Name</label>
        <div class="control">
          <input class="input is-small" type="text" formControlName="artifact_name">
        </div>
      </div>

      <div class="field">
        <label>Artifact Description</label>
        <div class="control">
          <input class="input is-small" type="text" formControlName="artifact_description">
        </div>
      </div>

      <div class="field">
        <label>Acquisition Date</label>
        <div class="control">
          <input class="input is-small" type="date" formControlName="artifact_acquisition_date">
        </div>
      </div>

      <div class="field">
        <label>Artifact Condition</label><br>
        <div class="select is-small">
          <select formControlName="artifact_condition">
            <option value="Fair">Fair</option>
            <option value="Good">Good</option>
            <option value="Very Good">Very Good</option>
            <option value="Excellent">Excellent</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Artist Name</label>
        <div class="select is-small">
          <select formControlName="artist_id">
            <option value="">Select artist...</option>
            <option *ngFor="let item_artist of artistData['data']" value={{item_artist.artist_id}}>
              {{ item_artist.name }}
            </option>
          </select>
        </div>
      </div>      

      <div class="field">
        <label class="label">Category Name</label>
        <div class="select is-small">
          <select formControlName="category_id">
            <option value="">Select category...</option>
            <option *ngFor="let item_category of categoryData['data']" value="{{item_category.category_id}}">
              {{ item_category.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Curator Name</label>
        <div class="select is-small">
          <select formControlName="curator_id">
            <option value="">Select curator...</option>
            <option *ngFor="let item_curator of curatorData['data']" value="{{item_curator.curator_id}}">
              {{ item_curator.name }}
            </option>
          </select>
        </div>
      </div>

      <button class="button is-link is-light" type="submit">Submit</button>
    </form>
  </div>
</div>

<table class="table is-hoverable is-bordered" style="margin: 1%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Artifact Name</th>
      <th>Description</th>
      <th>Acquisition Date</th>
      <th>Condition</th>
      <th>Artist</th>
      <th>Category</th>
      <th>Curator</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of artifactData['data']">
      <td>{{item.artifact_id}}</td>
      <td>{{item.artifact_name}}</td>
      <td>{{item.artifact_description}}</td>
      <td>{{item.acquisition_date}}</td>
      <td>{{item.artifact_condition}}</td>
      <td>{{item.artist_name}}</td>
      <td>{{item.category_name}}</td>
      <td>{{item.curator_name}}</td>
    </tr>
  </tbody>
</table>