<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<p class="title is-2" style="padding: 1%;">Exhibitions</p>

<!-- Modal Button -->
<div style="margin: 1%;">
  <button class="button is-primary" id="add_btn">Add</button>
</div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content has-background-white py-5 px-5">
    <h3 class="title mr-3">Add new Exhibition</h3>
    <!-- Form -->
    <form [formGroup]="addExhibition" (ngSubmit)="SaveData()">

      <div class="field">
        <label>Exhibition Name</label>
        <div class="control">
          <input class="input is-small" type="text" formControlName="exhibition_name">
        </div>
      </div>

      <div class="field">
        <label>exhibition Start Date</label>
        <div class="control">
          <input class="input is-small" type="date" formControlName="exhibition_start_date">
        </div>
      </div>

      <div class="field">
        <label>Exhibition End Date</label>
        <div class="control">
          <input class="input is-small" type="date" formControlName="exhibition_end_date">
        </div>
      </div>    
      
      <div class="field">
        <label>Exhibition Location</label>
        <div class="control">
          <input class="input is-small" type="text" formControlName="exhibition_location">
        </div>
      </div>

      <button class="button is-link is-light" type="submit">Submit</button>
    </form>
  </div>
</div>

  <table class="table is-hoverable is-bordered" style="margin: 1%;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Exhibition Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of exhibitionData['data']">
          <td>{{item.exhibition_id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.start_date}}</td>
          <td>{{item.end_date}}</td>
          <td>{{item.location}}</td>
          <td>
            <div class="buttons">
              <button class="button is-small" (click)="deleteData(item.exhibition_id)">
                <span class="icon is-small">
                  <i class="fas fa-trash"></i>
                </span>
              </button>
              <button class="button is-small" (click)="editDataBtn(item.exhibition_id)">
                <span class="icon is-small">
                  <i class="fas fa-pencil-alt"></i>
                </span>
              </button>
              <!-- Modal for Edit -->
              <div class="modal" id="modal-edit">
                <div class="modal-background" id="edit_background"></div>
                <div class="modal-content has-background-white py-5 px-5">
                  <h3 class="title mr-3">Edit Exhibition</h3>
                  <!-- Form -->
                  <form [formGroup]="editExhibition" (ngSubmit)="editData()">
    
                    <div class="field">
                      <label>Exhibition Name</label>
                      <div class="control">
                        <input class="input is-small" type="text" formControlName="exhibition_name">
                      </div>
                    </div>
              
                    <div class="field">
                      <label>exhibition Start Date</label>
                      <div class="control">
                        <input class="input is-small" type="date" formControlName="exhibition_start_date">
                      </div>
                    </div>
              
                    <div class="field">
                      <label>Exhibition End Date</label>
                      <div class="control">
                        <input class="input is-small" type="date" formControlName="exhibition_end_date">
                      </div>
                    </div>    
                    
                    <div class="field">
                      <label>Exhibition Location</label>
                      <div class="control">
                        <input class="input is-small" type="text" formControlName="exhibition_location">
                      </div>
                    </div>
    
                    <button class="button is-link is-light" type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>