<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<p class="title is-2" style="padding: 1%;">Curators</p>

<!-- Modal Button -->
<div style="margin: 1%;">
  <button class="button is-primary" id="add_btn">Add</button>
</div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content has-background-white py-5 px-5">
    <h3 class="title mr-3">Add new Curator</h3>
    <!-- error message -->
    <div *ngIf="errorMessage" class="message is-danger">
      <div class="message-body">
        {{ errorMessage }}
      </div>
    </div>
    <!-- Form -->
    <form [formGroup]="addCurator" (ngSubmit)="SaveData()">

      <div class="field">
        <label>Curator Name</label>
        <div class="control">
          <input class="input is-small" type="text" formControlName="curator_name">
        </div>
      </div>

      <div class="field">
        <label>Curator Email</label>
        <div class="control">
          <input class="input is-small" type="text" formControlName="curator_email">
        </div>
      </div>

      <button class="button is-link is-light" type="submit">Submit</button>
    </form>
  </div>
</div>

<table class="table is-hoverable is-bordered" style="margin: 1%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Curator Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of curatorData['data']">
      <td>{{item.curator_id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email_id}}</td>
      <td>
        <div class="buttons">
          <button class="button is-small" (click)="deleteData(item.curator_id)">
            <span class="icon is-small">
              <i class="fas fa-trash"></i>
            </span>
          </button>
          <button class="button is-small" (click)="editDataBtn(item.curator_id)">
            <span class="icon is-small">
              <i class="fas fa-pencil-alt"></i>
            </span>
          </button>
          <!-- Modal for Edit -->
          <div class="modal" id="modal-edit">
            <div class="modal-background" id="edit_background"></div>
            <div class="modal-content has-background-white py-5 px-5">
              <h3 class="title mr-3">Edit Curator</h3>
              <!-- error message -->
              <div *ngIf="errorMessage" class="message is-danger">
                <div class="message-body">
                  {{ errorMessage }}
                </div>
              </div>
              <!-- Form -->
              <form [formGroup]="editCurator" (ngSubmit)="editData()">

                <div class="field">
                  <label>Curator Name</label>
                  <div class="control">
                    <input class="input is-small" type="text" formControlName="curator_name">
                  </div>
                </div>

                <div class="field">
                  <label>Curator Email</label>
                  <div class="control">
                    <input class="input is-small" type="text" formControlName="curator_email">
                  </div>
                </div>

                <button class="button is-link is-light" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>