<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<p class="title is-2" style="padding: 1%;">Categories</p>

<!-- Modal Button -->
<div style="margin: 1%;">
  <button class="button is-primary" id="add_btn">Add</button>
</div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content has-background-white py-5 px-5">
    <h3 class="title mr-3">Add new Category</h3>
    <!-- Form -->
    <form [formGroup]="addCategory" (ngSubmit)="SaveData()">

      <div class="field">
        <label>Category Name</label>
        <div class="control">
          <input class="input is-small" type="text" formControlName="category_name">
        </div>
      </div>

      <div class="field">
        <label>Category Description</label>
        <div class="control">
          <input class="input is-small" type="text" formControlName="category_description">
        </div>
      </div>

      <button class="button is-link is-light" type="submit">Submit</button>
    </form>
  </div>
</div>

<table class="table is-hoverable is-bordered" style="margin: 1%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Category Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categoryData['data']">
      <td>{{item.category_id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>
        <div class="buttons">
          <button class="button is-small" (click)="deleteData(item.category_id)">
            <span class="icon is-small">
              <i class="fas fa-trash"></i>
            </span>
          </button>
          <button class="button is-small" (click)="editDataBtn(item.category_id)">
            <span class="icon is-small">
              <i class="fas fa-pencil-alt"></i>
            </span>
          </button>
          <!-- Modal for Edit -->
          <div class="modal" id="modal-edit">
            <div class="modal-background" id="edit_background"></div>
            <div class="modal-content has-background-white py-5 px-5">
              <h3 class="title mr-3">Edit Category</h3>
              <!-- Form -->
              <form [formGroup]="editCategory" (ngSubmit)="editData()">

                <div class="field">
                  <label>Category Name</label>
                  <div class="control">
                    <input class="input is-small" type="text" formControlName="category_name">
                  </div>
                </div>

                <div class="field">
                  <label>Category Description</label>
                  <div class="control">
                    <input class="input is-small" type="text" formControlName="category_description">
                  </div>
                </div>

                <button class="button is-link is-light" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>